* {
    box-sizing: border-box;
}

body {
    font-weight: bold;
    text-align: center;
}

#article,
#aside,
#footer,
#header,
#nav {
    padding: 20px;
}

#header {
    background-color: olive;
    color: white;
}

#nav {
    background: beige;
}

#article {
    text-align: left;
    background: lemonchiffon;
}

#aside {
    background-color: lightyellow;
    justify-content: center;
}

#footer {
    background: palegoldenrod;
}

/* menü */
#nav {
    display: flex;
    flex-direction: column;
}

    #nav a {
        
        flex: 1 1 auto;
        text-decoration: none;
        color: black;
    }

/* 800px-nél nagyobb képernyő*/
@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: auto;
    }

    #main {
        display: flex;
    }

    #nav,
    #header {
        order: -1;
    }

    #article {
        flex: 1 1 75%;
    }

    #aside {
        flex: 1 1 25%;
    }
}

img {
    margin: auto;
    display: block;
}
div {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
